.cover-top {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.cover-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  overflow: auto;
}

.cover-item {
  margin-top: 20px;
}
