.ExamScreen {
  height: 90vh;
  display: flex;
  flex-direction: column;

  .question {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;

    .question-img {
      margin: 10px 0;
    }

    .question-text {
      margin: 10px 0;
    }
  }

  .top-bar {
    display: block;
    padding: 5px;

    .top-left {
      float: left;
      margin-left: 10px;
    }

    .top-right {
      float: right;
      margin-right: 30px;
    }
  }

  .choices {
    display: flex;
    flex-direction: column;
  }

  .fill-in-blank {
    margin-top: 50px;
  }

  .explanation {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(232, 244, 252);
    border: 1px solid;
  }

  .bottom-bar {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid rgb(219, 219, 219);

    .timer {
      width: 100px;
      display: flex;
      align-items: center;

      .clock-icon {
        margin-left: 10px;
        margin-right: 5px;
      }
    }

    .menu-icon {
      width: 100px;
      display: flex;
      align-items: center;
      margin-right: 40px;
    }
  }
}

.QuestionGrid {
  width: 240px;
  height: 47vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.65rem;
    padding-top: 10px;

    .mini-answered {
      width: 10px;
      height: 10px;
      background-color: rgb(168, 213, 245);
      border: 0.25px solid;
    }

    .mini-marked {
      width: 10px;
      height: 10px;
      background-color: rgb(249, 255, 158);
      border: 0.25px solid;
    }

    .mini-incomplete {
      width: 10px;
      height: 10px;
      background-color: rgb(227, 227, 227);
      border: 0.25px solid;
    }
  }

  .grid {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .question-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin: 3px;
    cursor: pointer;

    &:hover {
      outline: 2px solid rgb(31, 144, 224);
    }
  }
}
