.ExamScreen {
  height: 90vh;
  display: flex;
  flex-direction: column;

  .question {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;

    .question-image {
      margin: 10px 0;
      max-width: 50vw;
    }

    .question-item {
      margin: 10px 0;
    }

    .bold {
      font-weight: bold;
    }
  }

  .top-bar {
    display: block;
    padding: 5px;

    .top-left {
      float: left;
      margin-left: 10px;
    }

    .top-right {
      float: right;
      margin-right: 30px;
    }
  }

  .choices {
    display: flex;
    flex-direction: column;
  }

  .fill-in-blank {
    margin-top: 50px;
  }

  .list-order {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .list-order-box {
      max-width: 500px;
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px dashed rgb(185, 185, 185);
      margin-bottom: 15px;
      padding: 5px 10px;
      cursor: move;

      .list-order-text {
        line-height: 1.25;
        text-align: center;
      }
    }
  }

  .explanation {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    padding: 5px;
    background-color: $light-blue;
    border: 1px solid;
  }

  .bottom-bar {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid rgb(219, 219, 219);

    .timer {
      width: 100px;
      display: flex;
      align-items: center;

      .clock-icon {
        margin-left: 10px;
        margin-right: 5px;
      }
    }

    .menu-icon {
      width: 100px;
      display: flex;
      align-items: center;
      margin-right: 40px;
    }
  }
}

.QuestionGrid {
  width: 240px;
  height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .legend {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.65rem;
    padding-top: 10px;

    .row {
      display: flex;
      align-items: center;
    }

    .mini {
      width: 10px;
      height: 10px;
      margin-left: 5px;
      border: 0.25px solid lightgray;
    }

    .answered {
      background-color: rgb(168, 213, 245);
    }

    .marked {
      background-color: rgb(249, 255, 158);
    }

    .incomplete {
      background-color: rgb(227, 227, 227);
    }
  }

  .grid {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .question-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid lightgray;
    margin: 3px;
    cursor: pointer;

    &:hover {
      outline: 2px solid $main-blue;
    }
  }
}
