.panels {
  height: 90vh;
  padding: 5px;
  overflow-y: auto;
}

.panel-details {
  display: flex;
  flex-direction: column;
}

.panel-summary {
  display: flex;
  align-items: center;
  width: 75vw;
  margin-bottom: 10px;
  padding: 2px;
  background-color: rgb(255, 254, 219);
  border: 1px solid;
  font-size: 48px;
  cursor: pointer;
  &:hover {
    background-color: darken($color: rgb(255, 254, 219), $amount: 10);
  }

  .panel-icon {
    margin-left: 20px;
    margin-right: 40px;
  }

  .panel-info {
    display: flex;

    .panel-exam {
      margin-right: 15px;
    }
  }
}
