.panels {
  height: 90vh;
  padding: 10px;
  overflow-y: auto;
}

.history-info {
  display: flex;
  align-items: center;
}

.history-title {
  margin-right: 30px !important;
}

.panel-details {
  display: flex;
  flex-direction: column;
}

.panel-summary {
  display: flex;
  align-items: center;
  width: 75vw;
  margin-bottom: 10px;
  padding: 2px;
  background-color: $light-blue;
  border: 1px solid;
  font-size: 48px;
  cursor: pointer;
  &:hover {
    background-color: darken($color: $light-blue, $amount: 5);
    outline: 2px solid $main-blue;
  }

  .panel-icon {
    margin-left: 20px;
    margin-right: 40px;
  }

  .panel-info {
    display: flex;
    align-items: center;

    .panel-exam {
      margin-right: 15px;
    }
  }
}

// Exam Item
.panel-paper {
  display: flex;
  align-items: center;
  width: 75vw;
  margin: 10px 0;
  padding: 10px 5px;
  cursor: pointer;

  img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 40px;
  }

  .panel-icon {
    font-size: 40px;
    margin-left: 20px;
    margin-right: 40px;
  }

  .panel-container {
    width: 100%;
    display: flex;
    align-items: center;

    .panel-left {
      width: 70%;
    }

    .panel-info {
      display: flex;
      align-items: center;

      .panel-mr10 {
        margin-right: 10px;
      }

      .panel-mr20 {
        margin-right: 20px;
      }
    }
  }
}

.empty-panels {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .paper {
    display: flex;
    align-items: center;
    background-color: $light-blue;

    img {
      height: 100px;
      width: 100px;
    }

    .message {
      padding: 20px;
    }
  }
}

.settings {
  height: 90vh;
  padding: 10px;
  overflow-y: auto;

  .columns {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-right: 10px;
  }
}

.main-menu-top {
  width: 50vw;
  display: flex;
  justify-content: space-around;

  .items {
    line-height: 1.2;
    cursor: pointer;
  }
}
