.panels {
  height: 90vh;
  padding: 10px;
  overflow-y: auto;
}

.history-info {
  display: flex;
  align-items: center;
}

.history-title {
  margin-right: 30px;
}

.panel-details {
  display: flex;
  flex-direction: column;
}

.panel-summary {
  display: flex;
  align-items: center;
  width: 75vw;
  margin-bottom: 10px;
  padding: 2px;
  background-color: rgb(232, 244, 252);
  border: 1px solid;
  font-size: 48px;
  cursor: pointer;
  &:hover {
    background-color: darken($color: rgb(232, 244, 252), $amount: 7.5);
    outline: 2px solid rgb(1, 139, 244);
  }

  .panel-icon {
    margin-left: 20px;
    margin-right: 40px;
  }

  .panel-info {
    display: flex;

    .panel-exam {
      margin-right: 15px;
    }
  }
}

.empty-panels {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    background-color: rgb(232, 244, 252);
    border: 1px solid;
    padding: 20px;
  }
}

.settings {
  height: 90vh;
  padding: 5px;
  overflow-y: auto;
}

.main-menu-top {
  width: 50vw;
  display: flex;
  justify-content: space-around;

  .items {
    line-height: 1.2;
    cursor: pointer;
  }
}
