.exams {
  padding: 5px;
}

.exam-details {
  display: flex;
  flex-direction: column;
}

.exam-summary {
  display: flex;
  align-items: center;
  width: 75vw;
  margin-bottom: 10px;
  padding: 2px;
  background-color: #f2f2f2;
  border: 1px solid;
  font-size: 48px;
  cursor: pointer;
  &:hover {
    background-color: darken($color: #f2f2f2, $amount: 10);
  }

  .exam-icon {
    margin-right: 20px;
  }

  .exam-info {
    display: flex;

    .exam-exam {
      margin-right: 15px;
    }
  }
}
