.review-screen {
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 5px;

  .summary {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
      width: 33%;
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      padding: 10px;
      overflow: hidden;
    }

    .comparison {
      width: 33%;
      height: 110px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 20px;
      padding: 10px 10px 20px 10px;
    }
  }
}

.ReviewExam {
  height: 91vh;
  display: flex;
  flex-direction: column;

  .review-exam-top {
    display: block;
    height: 64px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .question {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    overflow-y: auto;
    overflow-x: hidden;

    .question-image {
      margin: 10px 0;
      max-height: 50vh;
    }

    .question-text {
      margin: 10px 0;
    }
  }

  .choices {
    display: flex;
    flex-direction: column;
  }

  .fill-in-blank {
    margin-top: 40px;
  }

  .static-order {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    .static-order-choice {
      max-width: 500px;
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      background-color: rgb(250, 250, 250);
    }
  }

  .explanation {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: $light-blue;
    border: 1px solid;

    img {
      max-height: 50vh;
    }
  }

  .bottom-bar {
    position: absolute;
    bottom: 0px;
    height: 51px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    border-top: 1px solid rgb(219, 219, 219);

    .timer {
      width: 100px;
      display: flex;
      align-items: center;

      .clock-icon {
        margin-left: 10px;
        margin-right: 5px;
      }
    }

    .menu-icon {
      width: 100px;
      display: flex;
      align-items: center;
      margin-right: 40px;
    }
  }
}

.ResultGrid {
  width: 240px;
  height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .legend {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.65rem;
    padding-top: 10px;

    .mini {
      width: 10px;
      height: 10px;
      margin-left: 5px;
      border: 0.25px solid lightgray;
    }

    .row {
      display: flex;
      align-items: center;
    }

    .green {
      background-color: rgb(215, 251, 203);
    }

    .red {
      background-color: rgb(251, 203, 203);
    }

    .grey {
      background-color: rgb(227, 227, 227);
    }
  }

  .grid {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .result-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid lightgray;
    margin: 3px;
    cursor: pointer;

    &:hover {
      outline: 2px solid $main-blue;
    }
  }
}

.note-content {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding-top: 10px;

  .note-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
  }
}

.note-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .note-ok {
    margin-right: 10px;
  }
}

.explanation-link {
  &:hover {
    background-color: white !important;
  }
}

.explanation-icon {
  margin-right: 10px;
}
