@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'MainScreen';
@import 'MainNav';
@import 'Cover';
@import 'ExamScreen';
@import 'ReviewScreen';

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.loading {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(1, 139, 244);
  }
}

.start-exam-icon {
  border: 0.5px solid rgb(246, 194, 40);
  padding: 4px;
  background-color: rgb(255, 248, 41);
}

.confirm-content {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;

  .message {
    color: rgb(1, 139, 244);
  }
}

::-webkit-scrollbar {
  width: 12.5px;
}

::-webkit-scrollbar-thumb {
  border-left: 3px solid darken($color: #f2f2f2, $amount: 20);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
